VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

VITE_FIREBASE_FUNCTIONS_REGION=asia-northeast3
VITE_BASE_PATH=/pokemon-gacha-shop/

VITE_USE_FIREBASE_EMULATORS=false

VITE_USE_FIREBASE_EMULATORS=false

# 아래 두 값은 지금 당장 사용하지 않습니다 (Emulator 연결은 이후 Task로 미룸)
VITE_FIRESTORE_EMULATOR_HOST=127.0.0.1
VITE_FIRESTORE_EMULATOR_PORT=8080